name: Lab 3 CI

on:
  push:
    branches: [ feature/lab3 ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello World
        run: echo "Hello, GitHub Actions!"
